<div class="heading">
  <h1>Your Products</h1>
</div>

<!-- create a form for categories-->
<div>
	<legend> Edit your current product </legend> 
<%= form_for @product, :url => { :action => "update" }, :html => { :multipart => true, :enctype => "multipart/form-data" } do |f| %>

  <%= f.label :product_name %>
  <%= f.text_field :name %>

  <%= f.label :item_code %>
  <%= f.text_field :item_code %>

  <%= f.label :length %>
  <%= f.text_field :length %>

  <%= f.label :width %>
  <%= f.text_field :width %>

  <%= f.label :height %>
  <%= f.text_field :height %>

  <%= f.label :made_of %>
  <%= f.text_field :made_of %>

  <br>
  <%= f.label :color %>
  <%= f.text_field :color %>
  <!-- <div class="input-append color" data-color="<%= @product.color %>" data-color-format="rgb" id="cp3">
    <input class="span3" value="<%= @product.color %>" readonly="" type="text" name="product[color]">
    <span class="add-on"><i style="background-color: <%= @product.color %>"></i></span>
  </div> -->

  <%= f.label :category %>
  <% if @product.sub_category_id == nil %>
    <p> <%= @curr_category %>
    <%= grouped_collection_select(:product, :sub_category_value, @category, :sub_categories_with_default, :name, :name, :name) %>
  <% else %>
    <%= grouped_collection_select(:product, :sub_category_value, @category, :sub_categories_with_default, :name, :name, :name) %>
  <% end %>

  <%= f.label :existing_image, "Your Existing Images" %>
  <% if @product.dilegno_images.count == 0 %>
    <p> You have not existing images for this product! </p>
  <% end %>
  <% @product.dilegno_images.each do |img| %>
    <div class="existing_image">
      <div class="fileupload-preview thumbnail" style="width: 200px; height: 200px;">
        <img src="<%=img.image.url %>">
      </div>          
      <button type="button" class="btn btn-default remove_existing">Remove existing image</button>
      <input type="hidden" value="<%= img.id %>" name ="<%= "dilegno#{img.id}" %>">
    </div>
  <% end %>

  <br>
  <%= f.label :image, "Add Product Images" %>
  <div class="image_manage span9" style="margin-left:0px">
    <p><button type="button" class="btn btn-default" id="add_image">Add Image</button></p>
  </div>
  <br>

  <%= f.label :description %>
  <%= f.cktext_area :description %>

</br>

  <%= f.submit "Update", :class => "btn btn-primary"%>
  <%= link_to "Cancel", {:controller => "product", :action => "index"}, :class => "btn btn-primary"  %>
<% end %>

</div>

<script>
$('#product_category_id').change(function() {
  $('.my_hidden').hide();
  var selected = $(this).find(':selected');
  // alert('Category Id = ' + selected.val() + ' selected.');
  $('.'+selected.val()).show();

  //remove name from old input
  //add name to new input
  $('input:select[name=""]').attr('name', 'product[sub_category_id]');
});

$('#cp3').colorpicker({
  format: 'rgb'
});


var numOfImages = 0;
$('#add_image').click(function(){
  var form = "&lt;div class=&quot;whole_fileupload&quot; style=&quot;float:left&quot;&gt; <br/>  &lt;div class=&quot;fileupload fileupload-new&quot; data-provides=&quot;fileupload&quot;&gt;      <br/>    &lt;div class=&quot;fileupload-preview thumbnail&quot; style=&quot;width: 200px; height: 200px;&quot;&gt;&lt;/div&gt;      <br/>    &lt;div&gt;<br/>      &lt;span class=&quot;btn btn-file&quot;&gt;<br/>        &lt;span class=&quot;fileupload-new&quot;&gt;Select image&lt;/span&gt;<br/>        &lt;span class=&quot;fileupload-exists&quot;&gt;Change&lt;/span&gt;<br/>        &lt;input type=&quot;file&quot; id=&quot;featured_image_image&quot; name=&quot;dilegno_image[image" + numOfImages;
  form = form + "][image]&quot;&gt;<br/>      &lt;/span&gt;<br/>      &lt;button type=&quot;button&quot; class=&quot;btn btn-default remove_image&quot;&gt;Remove&lt;/button&gt;      <br/>    &lt;/div&gt;    <br/>  &lt;/div&gt;  <br/>&lt;/div&gt;";
  form = $("<div />").html(form).text();
  numOfImages = numOfImages + 1;

  $(".image_manage").append(form);
});

$('body').delegate('.remove_existing', 'click', function() {
  $(this).closest('.existing_image').remove();
});

$('body').delegate('.remove_image', 'click', function() {
  $(this).closest('.whole_fileupload').remove();
});
</script>
