<div class="heading">
  <h1>Your Products</h1>
</div>

<!-- create a form for categories-->
<div>
	<legend> Add a new product </legend> 
<%= form_for @product, :url => { :action => "create" }, :html => { :multipart => true, :enctype => "multipart/form-data" } do |f| %>

  <%= f.label :product_name %>
  <%= f.text_field :name %>

  <%= f.label :item_code %>
  <%= f.text_field :item_code %>

  <%= f.label :length %>
  <%= f.text_field :length %>

  <%= f.label :width %>
  <%= f.text_field :width %>

  <%= f.label :height %>
  <%= f.text_field :height %>

  <%= f.label :made_of %>
  <%= f.text_field :made_of %>

  <br>
  <%= f.label :color %>
  <%= f.text_field :color %>
  <!-- <div class="input-append color" data-color="rgb(255, 146, 180)" data-color-format="rgb" id="cp3">
    <input class="span3" value="rgb(255, 146, 180)" readonly="" type="text" name="product[color]">
    <span class="add-on"><i style="background-color: rgb(255, 146, 180)"></i></span>
  </div> -->

  <%= f.label :category %>
  <%= grouped_collection_select(:product, :sub_category_id, @category, :sub_categories_with_default, :name, :name, :name) %>

  <%= f.label :image, "Product Images" %>
  <div class="image_manage span9">
    <p><button type="button" class="btn btn-default" id="add_image">Add Image</button></p>
  </div>
  <br>

  <%= f.label :description %>
  <%= f.cktext_area :description %>

</br>

  <%= f.submit "Add product", :class => "btn btn-primary"%>
  <%= link_to "Cancel", {:controller => "product", :action => "index"}, :class => "btn btn-primary"  %>
<% end %>

</div>

<script>
  $('#product_category_id').change(function() {
    $('.my_hidden').hide();
    var selected = $(this).find(':selected');
    // alert('Category Id = ' + selected.val() + ' selected.');
    $('.'+selected.val()).show();
  });

  var numOfImages = 0;
  $('#add_image').click(function(){
    var form = "&lt;div class=&quot;whole_fileupload&quot; style=&quot;float:left&quot;&gt; <br/>  &lt;div class=&quot;fileupload fileupload-new&quot; data-provides=&quot;fileupload&quot;&gt;      <br/>    &lt;div class=&quot;fileupload-preview thumbnail&quot; style=&quot;width: 200px; height: 200px;&quot;&gt;&lt;/div&gt;      <br/>    &lt;div&gt;<br/>      &lt;span class=&quot;btn btn-file&quot;&gt;<br/>        &lt;span class=&quot;fileupload-new&quot;&gt;Select image&lt;/span&gt;<br/>        &lt;span class=&quot;fileupload-exists&quot;&gt;Change&lt;/span&gt;<br/>        &lt;input type=&quot;file&quot; id=&quot;featured_image_image&quot; name=&quot;dilegno_image[image" + numOfImages;
    form = form + "][image]&quot;&gt;<br/>      &lt;/span&gt;<br/>      &lt;button type=&quot;button&quot; class=&quot;btn btn-default remove_image&quot;&gt;Remove&lt;/button&gt;      <br/>    &lt;/div&gt;    <br/>  &lt;/div&gt;  <br/>&lt;/div&gt;";
    form = $("<div />").html(form).text();
    numOfImages = numOfImages + 1;

    $(".image_manage").append(form);
  });

  $('body').delegate('.remove_image', 'click', function() {
    $(this).closest('.whole_fileupload').remove();
  });

  $('#cp3').colorpicker({
    format: 'rgb'
  });
</script>
