<!-- sub-categories header -->
<% content_for :secondary_header do %>
	<div class="header_sec_div">
		<div class="header_sec_content">

			<div class="header_sec_logo_div">
				<%= link_to @category.name , category_path(@category)  %>
			</div>
		</div>
	</div>	
<% end %>

<!-- sub-categories grid view -->
<div class ="product_content">
	<div class = "product_container">
		<% if @sub_category.count > 0 %>
			<% @sub_category.each do |cat| %>
				<div class="product_div">

					<!-- sub_category thumbnail -->
					<div class="product_img">
						<!-- sub_category link -->
						<a href = <%= sub_category_path(cat.id) %>>
							<img src="<%= cat.dilegno_image.image.url(:medium) %>" >
						</a>
					</div>
					

					<!-- sub_category excerpt -->
					<div class ="product_text">
						<a href = <%= sub_category_path(cat.id) %>>
						<p> <%= cat.name %> </p> </a>
					</div>
				</div>
			<% end %>
		<% else %>
			<% @products.each do |product| %>
				<div class="product_div">

					<!-- sub_category thumbnail -->
					<div class="product_img">
						<!-- sub_category link -->
						<a href = <%= product_path(product.id) %>>
							<% if product.dilegno_images.count > 0 %>
								<img src="<%= product.dilegno_images[0].image.url(:medium) %>" >
							<% end %>
						</a>
					</div>
					

					<!-- sub_category excerpt -->
					<div class ="product_text">
						<a href = <%= product_path(product.id) %>>
						<% if product.name.length >= 24 %>
							<p><%= product.name[0..24].gsub(/\s\w+$/, '...') %> </p> 
						<% else %>
							<p><%= product.name %> </p> 
						<% end %>
					</div>
				</div>
			<% end %>
		<% end %>

	</div>
</div>


