<div class="heading">
  <h1>Your News</h1>
</div>

<!-- create a form for categories-->
<div>
	<legend> Edit </legend> 
<%= form_for [:admin, @news] do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.cktext_area :content %>

</br>
  <%= f.submit "Update news item", :class => "btn btn-primary"%>
  <%= link_to "Cancel", {:controller => "news", :action => "index"}, :class => "btn btn-primary"  %>
<% end %>


</div>
