<% content_for :secondary_header do %>
	<div class="header_sec_div">
		<div class="header_sec_content">
			<div class="header_sec_logo_div">
				About
			</div>
		</div>
	</div>	
<% end %>

<div class="about_container">
<div class="about_info">
<div class="about_info_section">
	<div class="about_info_section_header">
		<strong>About Us</strong>
	</div>
	<div class="about_info_section_content">
		<p> Di Legno is... </p>
	</div>
</div>

<div class="about_info_section">
	<div class="about_info_section_header">
		<strong>The Designer</strong>
	</div>
	<div class="about_info_section_content">
		<p> Vito Selma is a Filipino designer that has been featured in magazines worldwide, such as those of China, India, Australia, Portugal and the USA. </p>
		<p> His works are based on the belief that simplicity is the most complex design. </p>
		<p> Hence, wood is his choice material, and he is not afraid to show the nakedness of wood grain and texture. </p>
		<p> For his works, Vito Selma has won many awards. His furniture is sold in more than 30 countries of differing regions, such as Europe, Asia and the Middle East. </p>
		<p> Di Legno is the first and only shop in Singapore to sell his works. </p>
	</div>
</div>

<div class="about_info_section">
	<div class="about_info_section_header">
		<strong>Find Us</strong>
	</div>
	<div class="about_info_section_content">
		<div class="about_info_section_content_left">
			<h6> Address</h6>
			<p> 188-6 Tanjong Katong Road <br>
				Singapore 436990 </p>
				<br>
			<h6> Opening Hours </h6>
			<p> Monday to Sunday, 11am to 7pm </p>
			<br>
			<h6> Contact </h6>
			<p> Call us: +65 6346 2012 </p> 
			<p> Email us: <%= mail_to("info@dilegno.sg") %> </p>
		</div>

		<div class="about_info_section_content_right">
			<h6> Contact Us </h6>
			<!-- form for contact us -->
			<%= form_tag '/contact_us', method: :post do %>
		    <%= label_tag :email, "Your Email", :style => "font-size: 13px" %>
		    <%= email_field_tag :email, params[:email] %>

		    <%= label_tag :subject, "Subject", :style => "font-size: 13px" %>
		    <%= text_field_tag :subject, params[:subject] %>

		    <%= label_tag :message, "Message",  :style => "font-size: 13px" %>
		    <%= text_area_tag :message, params[:message] %>

		    <%= label_tag :comments, "If you are human, leave blank.", :style => "display :none" %>
		    <%= text_area_tag :comments, params[:comments], :style => "display: none" %>
		    <p><%= submit_tag "Submit", :class => "btn"%></p>
			<% end %>
		</div>
	</div>
	<div class="about_info_section_content" style="float:left">
		<h6> Newsletter </h6>
		<p> Join our mailing list to stay updated. </p>
		<%= form_tag '/newsletter', method: :post do %>
			<%= label_tag :email, "Your Email", :style => "font-size: 13px" %>
			<%= email_field_tag :email, params[:email] %>

			<%= label_tag :comments, "If you are human, leave blank.", :style => "display :none" %>
			<%= text_area_tag :comments, params[:comments], :style => "display: none" %>

			<%= submit_tag "Sign up", :class => "btn", :style => "margin-bottom: 10px" %>
		<% end %>
	</div> 
</div>
</div>
</div>
