<% content_for :secondary_header do %>
	<div class="header_sec_div">
		<div class="header_sec_content">
			<div class="header_sec_logo_div">
				
				<%= link_to(@category.name, category_path(@category)) %> -> <%= link_to(@sub_category.name, sub_category_path(@sub_category))%> -> <%= @product.name %>
			</div>
		</div>
	</div>	
<% end %>

<div class="product_content">
	<div class="product_image">
		<div id="galleria">
			<% @product_images.each do |image| %>
				<%= image_tag(image.image.url, :class => "product_galleria") %>
			<% end %>
		</div>
	</div>

	<div class="product_info">
		<div class="product_info_section">
			<div class="product_info_section_header">
				<strong>Description</strong>
			</div>
			<div class="product_info_section_content">
				<%= @product.description.html_safe %>
			</div>
			<div class="product_info_section_header">
				<strong>Dimensions (L x W x H)</strong>
			</div>
			<div class="product_info_section_content">
				<% if @product.length != nil  && @product.length != "" %>
					<%= "#{@product.length.truncate} cm"%>
					<% have_previous = true %>
				<% else %>
				 <% have_previous = false %>
				<% end %>

				<% if @product.width != nil  && @product.width != "" %>
					<% if have_previous == true %>
						<%= "x " %><%= "#{ @product.width.truncate} cm" %>
					<% else %>
						<%="#{@product.width.truncate} cm"%>
					<% end %>
					<% have_previous = true %>
				<% else %>
					<% have_previous = have_previous | false %>
				<% end %>

				<% if @product.height != nil  && @product.height != "" %>
					<% if have_previous == true %>
						<%= "x " %><%= "#{@product.height.truncate} cm"%>
					<% else %>
						<%= "#{@product.height.truncate} cm"%>
					<% end %>
				<% end %>
			</div>
		<!-- </div> -->

		<!-- <div class="product_info_section"> -->
			<div class="product_info_section_header">
				<strong>Made of</strong>
			</div>
			<div class="product_info_section_content">
				<%= @product.made_of %>
			</div>
		<!-- </div> -->

		<!-- <div class="product_info_section"> -->
			<div class="product_info_section_header">
				<strong>Color</strong>
			</div>
			<div class="product_info_section_content">
				<%= @product.color %>
			</div>
		</div>
	</div>
</div>

 <script>

 	Galleria.configure({
    transition: 'fade',
    imageCrop: false,
});
 	Galleria.run('#galleria');
 </script>