<% content_for :secondary_header do %>
	<div class="header_sec_div">
		<div class="header_sec_content">
			<div class="header_sec_logo_div" style="width: 1200px; float: left; text-align: left; padding-left: 50px">
				<%= link_to @category.name, category_path(@category.id) %>
				- <%= @product.name %>
			</div>

			<!-- <div class="header_sec_nav_div">
				<% @sub_category.each do |cat| %>
		  		<div class="header_sec_nav_item">
		  			<%= link_to cat.name, sub_category_path(cat.id) %>
		  		</div>	  		
		  	<% end %>
	  	</div> -->
		</div>
	</div>	
<% end %>

<div class="product_content">
	<div class="product_image">
		<div id="galleria">
			<% @product_images.each do |image| %>
				<%= image_tag(image.image.url, :class => "product_galleria") %>
			<% end %>
		</div>
	</div>

	<div class="product_info">
		<div class="product_info_section">
			<div class="product_info_section_header">
				<strong>Description</strong>
			</div>
			<div class="product_info_section_content">
				<%= @product.description.html_safe %>
			</div>
		</div>

		<div class="product_info_section">
			<div class="product_info_section_header">
				<strong>Dimensions (L x W x H)</strong>
			</div>
			<div class="product_info_section_content">
				<%= "#{@product.length} x #{@product.width} x #{@product.height}" %>
			</div>
		</div>

		<div class="product_info_section">
			<div class="product_info_section_header">
				<strong>Made of</strong>
			</div>
			<div class="product_info_section_content">
				<%= @product.made_of %>
			</div>
		</div>

		<div class="product_info_section">
			<div class="product_info_section_header">
				<strong>Color</strong>
			</div>
			<div class="product_info_section_content">
				<div class="product_info_color_palette">
					<div class="product_info_color" style="background: <%= @product.color %>">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

 <script>

 	Galleria.configure({
    transition: 'fade',
    imageCrop: false,
});
 	Galleria.run('#galleria');
 </script>