<!DOCTYPE html>
<html>
<head>
  <title>Dilengo Workbench</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Place inside the <head> of your HTML -->
<script type="text/javascript" src="tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea"
 });
</script>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span3">
	      <div class="well sidebar-nav">
	        <ul class="nav nav-list">
	          <li class="nav-header">Dilegno Workbench</li>
						<!-- logo here -->
						<li><img src="<%= image_path("dilegno_logo.jpg") %>"></li>

						<li class="nav-header">Content Management</li>
						<li class="<%= controller.class == Admin::FeaturedImageController ? 'active' : '' %>">
							<%= link_to "Featured Images", :controller => "featured_image", :action => "index" %></li>
							<li class="<%= controller.class == Admin::CategoryController || controller.class == Admin::SubCategoryController ? 'active' : '' %>">
	          	<%= link_to "Category", :controller => "category", :action => "index" %></li>
	          <li class="<%= controller.class == Admin::ProductController ? 'active' : '' %>">	
	          	<%= link_to "Product", :controller => "product", :action => "index" %></li>
	          <li class="<%= controller.class == Admin::NewsController ? 'active' : '' %>">	
	          	<%= link_to "News", :controller => "news", :action => "index" %></li>
	          <li><a href="#"></a></li>

	          <li class="nav-header">Miscellaneous</li>
	          <!-- <li class="<%= controller.class == Admin::CategoryController ? 'actives' : '' %>">
	          	<%= link_to "Dilengo's Information", :controller => "category", :action => "index" %></li> -->

	          <li class="nav-header">Account</li>
	          <li >
	          	<%= link_to "Change password", edit_admin_administrative_user_path(session[:user_id]) %></li>
	          <li >
	          	<%= link_to "Logout", admin_log_out_path %></li>
	          	

	        </ul>
	      </div><!--/.well -->
	    </div><!--/span3-->
			<div class="span9">
    		<%= yield %>	
    	</div><!--/span9-->
		</div><!--/row-fluid-->
	</div>
</body>
</html>
