<!DOCTYPE html>
<html>
<head>
  <title>Dilegno</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <div class="header_div">
	  <div class="header_logo_div">
	  	<!-- logo img -->
	  	<%= link_to( image_tag("dilegno_logo_trans.png", style: "height: 76px;"), :controller => "home", :action => "index")%>
	  	<!-- <%= link_to "Di Legno", :controller => "home", :action => "index" %> -->
	  </div>

	  <div class="header_nav_div">

	  	<% @categories.each do |cat| %>
	  		<div class="header_nav_item">
	  			<%= link_to cat.name, category_path(cat.id) %>
	  		</div>	  		
	  	<% end %>

	  	<!-- change to news controller -->
	  	<div class="header_nav_item">
	  		<%= link_to "News", :controller => "news", :action => "index" %>
	  	</div>

	  	<div class="header_nav_item">
	  		<%= link_to "About Us", :controller => "home", :action => "about" %>
	  	</div>
	  </div>

	</div>

	<%= yield :secondary_header %>

</head>
<body>

<%= yield %>

<!-- footer -->
<!-- check if home page, if yes render in white, else render in black -->
<% if current_page?(:controller => 'home', :action => 'index') %>
	<div class="dilegno_footer_white">
	<% fb_logo = 'fb_logo_color.png' %>
	<% dilegno_logo = 'dilegno_logo_brown.png' %>
<% else %>
	<div class="dilegno_footer">
	<% fb_logo = 'fb_logo_white.png' %>
	<% dilegno_logo = 'dilegno_logo_white.png' %>
<% end %>

	<div class="dilegno_footer_container">
			<div class="dilegno_footer_left">
				<!-- logo -->
				<div class="dilegno_footer_left_img">
				<%= image_tag(dilegno_logo,  width: "230") %>
				</div>
			</div>

			<div class="dilegno_footer_center">
				<!-- nav stuff -->
				<% @categories.each do |cat| %>
					<h6> <%= link_to cat.name, category_path(cat.id) %> </h6>

					<% unless cat.sub_categories.empty? %>
						<% sub_cats = cat.sub_categories %>
						<% sub_cats.each do |sub_cat| %>
							<p> <%= link_to sub_cat.name, sub_category_path(sub_cat.id) %> </p>
						<% end %>
					<% end %>

					<br>
				<% end %>
			</div>

			<div class="dilegno_footer_right">
				<!-- contact us + connect with us -->
				<h6> Contact Us </h6>
					<p>188-6 Tanjong Katong Road<br>
						Singapore 436990</p>
					<p> +65 6346 2012 </p>
					<p> <%= mail_to("info@dilegno.sg") %> </p>
				<h6> Connect With Us </h6>
				<%= image_tag(fb_logo, height: "25", width: "25") %>
			</div>

			<!-- copyright -->
			<div class="dilegno_footer_copyright">
				<p><em>© Copyright 2013 Di Legno. All rights reserved.</em></p>
			</div>
		</div>
	</div>

</body>
</html>
