<!DOCTYPE html>
<html>
<head>
  <title>Dilegno</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <div class="header_div">
	  <div class="header_logo_div">
	  	<!-- logo img -->
	  	<%= link_to "Di Legno", :controller => "home", :action => "index" %>
	  </div>

	  <div class="header_nav_div">

	  	<% @categories.each do |cat| %>
	  		<div class="header_nav_item">
	  			<%= link_to cat.name, category_path(cat.id) %>

	  		</div>	  		
	  	<% end %>

	  	<div class="header_nav_item">
	  		<%= link_to "About Us", :controller => "home", :action => "index" %>
	  	</div>
	  </div>

	</div>

	<%= yield :secondary_header %>

</head>
<body>

<%= yield %>

</body>
</html>
