<!DOCTYPE html>
<html>
<head>
  <title>Dilegno</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="my_body">
	<div class="header_div">
	  <div class="header_logo_div">
	  	<!-- logo img -->
	  	<%= link_to( image_tag("dilegno_logo_white.png", style: "height: 55px;"), :controller => "home", :action => "index")%>
	  	<!-- <%= link_to "Di Legno", :controller => "home", :action => "index" %> -->
	  </div>

	  <div class="header_nav_div">

	  	<% @categories.each do |cat| %>
	  		<div class="header_nav_item">
	  			<a href="<%= category_path(cat.id)%>"><b><%= cat.name %></b></a>
	  		</div>	  		
	  	<% end %>

	  	<!-- change to news controller -->
	  	<div class="header_nav_item">
	  		<a href ="/news"><b>News</b></a>
	  	</div>

	  	<div class="header_nav_item">
	  		<a href="/about"><b>About</b></a>
	  	</div>
	  </div>
	</div>

	<%= yield :secondary_header %>
	<%= yield %>

	<!-- footer -->
	<!-- check if home page, if yes render in white, else render in black -->
	<div class="dilegno_footer">
		<div class="dilegno_footer_container">
			<div class="dilegno_footer_left">
				<p><b>188-6 Tanjong Katong Road, Singapore 436990 | Mon-Sun 11AM-7PM | +65 6346 2012 | <%= mail_to("info@dilegno.sg", nil, :style => "color:white") %></b><br>
				<em>© Copyright 2013 Di Legno. All rights reserved.</em></p>
			</div>
		</div>
	</div>
</div>
	

</body>
</html>
